{% extends 'base.html.twig' %}

{% block title %}Арифметический тест!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if form is not defined %}
        <h1>Тесты отсутствуют!</h1>
    {% else %}
        <form method="post">
        {{ form_start(form) }}

        {# {{ form_row(form.quiz) }} #}
        <input type="hidden" id="result_quiz" name="result[quiz]" value="{{ mathTest.quiz.id }}">

        {% for question in mathTest.quiz.questions %}
            <p>{{ question.content }}</p>
            {% for questionAnswer in question.questionAnswers %}
                <input type="checkbox" id="{{ questionAnswer.id }}" name="result_result_item[{{ questionAnswer.id }}]" value="1">
                <label for="{{ questionAnswer.id }}">{{ questionAnswer.answer.content }}</label><br>
            {% endfor %}
        {% endfor %}

        {# {{ form_row(form.save) }} #}

        {{ form_end(form) }}
        </form>
    {% endif %}
</div>
{% endblock %}
