{% extends 'base.html.twig' %}

{% block title %}Тест!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Тест!</h1>
    {% if form is not defined %}
        <h2>Тест отсутствует!</h2>
    {% else %}
        {{ form_start(form) }}

        <input type="hidden" id="result_quiz" name="result[quiz]" value="{{ mathTest.quiz.id }}">

        {% for question in mathTest.quiz.questions %}
            <h2>{{ question.content }}</h2>
            {% for questionAnswer in question.questionAnswers %}
                <input type="checkbox" id="{{ questionAnswer.id }}" name="result_result_item[cheked][]" value="{{ questionAnswer.id }}">
                <label for="{{ questionAnswer.id }}">{{ questionAnswer.answer.content }}</label><br>
            {% endfor %}
        {% endfor %}


        <button type="submit">Отправить</button>
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}
