{% extends 'base.html.twig' %}

{% block title %}Арифметический тест!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Пройдите тест на знание арифметики! ✅</h1>
    <p>{{ quiz.name }}</p>
    <p>Вам предстоит ответить на 10 вопросов. Удачи!</p>

    <form method="post">
        {{ form_start(form) }}
        {# {% for questionForm in form.questions %}
            <h3>{{ questionForm.vars.data.content }}</h3>

            <div class="answers">
                {{ form_errors(questionForm.answers) }}
                {% for answerForm in questionForm.answers %}
                    <div class="answer">
                        {{ form_widget(answerForm) }}
                        {{ form_label(answerForm) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %} #}

        {% for question in quiz.questions %}
            <h3>{{ question.content }}</h3>
            <ul>
                {% for answer in question.answers %}
                    <li>
                        <input type="checkbox" id="answer_{{ question.id }}_{{ answer.id }}" name="answers[{{ question.id }}][{{ answer.id }}]" value="{{ answer.id }}">
                        <label for="answer_{{ question.id }}_{{ answer.id }}">{{ answer.content }}</label>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <button type="submit">Submit</button>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}
